.App {
  text-align: center;
  box-sizing: border-box;
  padding: 0;
}

.press-start 2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.main-container{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(15, 21, 36);
  margin: 0px;
  padding: 10px;
  font-family: "Press Start 2P";
  color:whitesmoke;
}

.suggestions{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  background-color: rgb(15, 21, 36);
  font-family: "Press Start 2P";
  color:whitesmoke;
  padding: 10px;
}
a{
  color:skyblue;
  transition: 0.4s all ease-in;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}
a:hover{
  color: blue;
  
}

ul{
  text-align: left;
  list-style: none;
}
li{
  padding-left: 30px; 
  background: url('https://www.codedex.io/images/coin-cropped.png') no-repeat center left;
  background-size: 16px 16px; 
  margin-bottom: 10px;
}
.cpu-container, .machine-panel{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  width: 500px;
  height: 425px;
  margin: 0px;
  border-radius: 18px;
  border: 4px solid black;
}


.machine-panel{
  height: 80px;
}
.screen-outline{
  width: 78%;
  background-color: black;
  height: 360px;
  border-radius: 8px;
  margin:0px;
}
.screen{
  margin: 10px;
  background-color: white;
  height: 337px;
  border-radius: 8px;
  background-image:url('https://cdn.discordapp.com/attachments/812752321867153409/1204910746220371978/face0.jpg?ex=65d67394&is=65c3fe94&hm=45bcec2db2e29e87c9ce234b18b26b00cd579bf7c57b3ab0682b9fa5ee843abe&');
  background-size:cover;
  background-repeat: no-repeat;
  transition: background-image 0.1s ease-out;
}
.screen img {
  width: 350px;
  height: 350px;
  height: 100%;
  object-fit: cover;
  border-radius: 8px; /* Match the border-radius of .screen for consistency */
}
.error-msg{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin: 0px;
  padding: 9px;
  width:45%;
  height: 425px;
}

.error-text{
  height: 180px;
  margin: 8px 0px;
}
.error-msg img{
  width: 400px; 
  height:200px;
}


.computer{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  width:55%;
  margin: 10px;
}

.btn-face{
  background-color: red;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}
.cd-port{
  background-color: black;
  height: 8px;
  width: 190px;
  border-radius: 12px;
}
.machine-buttons{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  padding: 10px;
  height: 30px;
}

.error-button{
  margin: 15px 0px;
}

.btn-codedex, .btn-no, .btn-hint, .btn-help{
  color: #212529;
  background: #ffef12;
  font-family: "Press Start 2P";
  height: 50px;
  width:200px;
  border-radius: 6px;
  border: 1px solid rgb(92, 87, 87);
  text-decoration: none;
  color: rgb(0, 0, 0);
  box-shadow: inset -4px -4px 0px 0px #ff8800;
  transition: all 0.5 ease;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

.btn-codedex:hover{
  box-shadow: inset -6px -6px 1px 0px #ff8800;
}

.btn-no{
  background-color: #f52e2e;
  box-shadow: inset -4px -4px 0px 0px #b10811;
}

.btn-no:hover{
  box-shadow: inset -6px -6px 1px 0px #b10811;
}

.btn-hint{
  background-color:rgb(22, 189, 30);
  box-shadow: inset -4px -4px 0px 0px #055209;

}
.btn-hint:hover{
  box-shadow: inset -6px -6px 1px 0px #055209;
}

.btn-help{
  background-color:rgb(46, 169, 218);
  box-shadow: inset -4px -4px 0px 0px #0f2058; 
}
.btn-help:hover{
  box-shadow: inset -6px -6px 1px 0px #0f2058;
}

@media (max-width: 985px) {
  .main-container {
    padding: 5px;
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .cpu-container,
  .machine-panel {
    height: auto;
    margin: 0px auto;
  }

  .computer{
    width: 75%; /* Add this line to make it responsive */
    margin: 10px;
    padding:5px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .error-msg{
    margin: 10px;
    height:auto;
  }

  .screen-outline {
    width: 80%;
    margin: 15px 5px;
  }

  .screen img {
    width: 100%;
    height: 200px;
  }
}
@media (max-width: 650px) {
  .main-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .cpu-container,
  .machine-panel {
    width:360px;
    height: auto;
    margin: 0px 7.5px;
  }
  .computer{
    width:100%;
  }
  .screen-outline{
    width: 90%;
  }
  .error-msg{
    width: 100%;
    height:auto;
  }
  
}